* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Amiri Quran", serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: hsla(78, 0%, 0%, 1);
  background-image: radial-gradient(
      at 85% 76%,
      hsla(240, 21%, 5%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 15% 18%, hsla(278, 3%, 42%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 96%, hsla(180, 69%, 14%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 36%, hsla(238, 82%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 62%, hsla(224, 100%, 51%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 30%, hsla(237, 47%, 27%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 89%, hsla(71, 38%, 18%, 1) 0px, transparent 50%);
}

.ayah-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  max-width: 80%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  font-size: 2rem;
  font-weight: bold;
}

.ayah-translation {
  margin: 10px 0;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1.5rem;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bookmark-button,
.recitation-button,
.theme-toggle {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-button:hover,
.recitation-button:hover,
.theme-toggle:hover {
  background: rgb(255 255 255 / 27%);
}

.recitation-button img {
  width: 32px;
  height: 32px;
}

.theme-toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.theme-toggle input[type="checkbox"] + label:before {
  content: "☀️";
  color: #f1c40f;
  /* font-size: 1.5rem; */
  cursor: pointer;
}

.theme-toggle input[type="checkbox"]:checked + label:before {
  content: "🌑";
  color: #f39c12;
}

#container.light-theme {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  color: #333;
}

.ayah-container.light-theme {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
